* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    text-decoration: none
}


img{
    width: 100%;
}

/* COOKIES */
.cookie-window {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: center;
    left: center;
    z-index: 10;
}

.cookie-text {
    width: 50%;
    height: 40%;
    background-color: white;
    margin: 10% auto;
    padding: 0 20px;
    text-align: center;
}

.cookie-btn {
    margin: 1rem 1rem;
    padding: 5px;
    width: 200px;
    background: #999;
    border: none;
    border-radius: 30px;
}

.cookie-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px gray;
    background: #777;
    color: white;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    height: 13vh;
}

.navbar .navbar_img h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'bangers', cursive;

}

.navbar .navbar_slogan h2 {
    text-align: center;
    font-size: 1.5rem;
}

.navbar .navbar_menu {
    background-color:#999;
    width: 80%;
    margin: auto
}

.navbar .navbar_menu ul {
    text-align: center;
    list-style: none;
    display: flex;
    width: 60%;
    margin: 10px auto;
}

@media screen and (max-width:1400px){
    .navbar .navbar_menu ul {
        width: 80%;
    }
}

@media screen and (max-width:1000px){
    .navbar .navbar_menu ul {
        width: 100%;
    }
}

.navbar_menu a{
    margin: auto;
    text-decoration: none;
    padding: 0 15px;
}

.navbar_menu a:hover{
    background-color: white;
}

.navbar_menu li {
    color: black;
}

@media screen and (max-width:1400px){
    .navbar_menu li {
        font-size: 1rem;
    }
}

@media screen and (max-width:900px){
    .navbar_menu li {
        font-size: 0.8rem;
    }
}

#startseite {

    margin: 0 auto;
    height: 85vh;
    width: 80%;    
}
.section-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 13vh;
}

.section-a .call_to_action h1{
    font-size: 2.1rem;
}

@media screen and (max-width:1400px){
    .section-a .call_to_action h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-height:900px){
    .section-a .call_to_action h1{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1200px){
    .section-a .call_to_action h1{
        font-size: 1.2rem;
    }
}

.section-a .call_to_action p {
    margin-top: 2rem;
}

@media screen and (max-width:1400px){
    .section-a .call_to_action p {
        margin-top: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-height:900px){
    .section-a .call_to_action p {
        margin-top: 1.4rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1200px){
    .section-a .call_to_action p {
        margin-top: 1.5rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-height:800px){
    .section-a .call_to_action p {
        margin-top: 1.2rem;
        font-size: 0.9rem;
    }
}

.section-a .call_to_action {
    padding: 20px;
}

.call_to_action_img {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
}

@media screen and (max-height:800px){
    .call_to_action_img {
        overflow: hidden;
    width: 30%;
    padding-top: 20px;
    position: absolute;
    z-index: -2;
    left: 60%;
    }
}

@media screen and (max-height:700px){
    .call_to_action_img {
        overflow: hidden;
        width: 25%;
        padding-top: 20px;
        position: absolute;
        z-index: -2;
        left: 65%;
    }
}

@media screen and (max-width:1000px){
    .call_to_action_img {
        display: none;
    }
    .section-a {
        display: block;
    }
    .section-a {
        background-image: url(images/man-grinding-metal-rod-1659747.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;

    }
    .section-a .call_to_action {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        margin-top: 0px;
        color: rgb(201, 201, 201);
        padding-top: 20%;
    }
}

@media screen and (max-width:900px){
    .section-a .call_to_action {
        padding-top: 30%;
    }
}
@media screen and (max-width:800px){
    .section-a .call_to_action {
        padding-top: 40%;
    }
}

@media screen and (max-height:750px){
    .section-a .call_to_action {
        padding-top: 20%;
    }
}

@media screen and (max-height:550px){
    .section-a .call_to_action {
        padding-top: 14%;
    }
}

#leistungen {
    margin: 10vh auto 2vh auto;
    height: 85vh;
    width: 80%;
}

@media screen and (max-height:750px){
    #leistungen {
        padding-bottom: 700px;
        padding-top: 6%;
    }
}

.section-b-title h2 {
    text-align: center;
    padding-top: 13vh;
    margin-bottom: 2rem;
    font-size: 2rem;
}

@media screen and (max-width:1600px){
    .section-b-title h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1000px){
    .section-b-title h2 {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}

.leistungen_info {
    text-align: center;
    padding-top: 2rem;
    font-size: 1rem;
}

@media screen and (max-width:1600px){
    .leistungen_info h2{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1100px){
    .leistungen_info h2{
        font-size: 1rem;
    }
}

.section-b-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1200px){
    .section-b-selection {
        grid-gap: 1rem;
    }
}

@media screen and (max-width:1200px){
    .section-b-selection {
        grid-template-columns: repeat(2, 1fr);
    }
    #leistungen {
        height: 105vh;
    }
}

@media screen and (max-width:900px){
    .section-b-selection {
        grid-template-columns: repeat(1, 1fr);
    }
    #leistungen {
        height: 185vh;
    }
}

.img-gallery {
    background-color: red;
    height: 25vh;
    box-shadow: 1px 1px 10px 1px gray;
}

.img-gallery img{
    width: 100%;
    height: 100%;
}

.img1 {
    background-image: url(images/man-cleaning-the-glass-of-building-756883.jpg);
    background-size: cover;
}

.img2 {
    background-image: url(images/brown-wooden-floor-48889.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img3 {
    background-image: url(images/garden-grass-meadow-green-589.jpg);
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}

.img4 {
    background-image: url(images/black-and-red-socket-wrench-221045.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img5 {
    background-image: url(images/two-person-standing-near-vehicle-2971064.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img6 {
    background-image: url(images/close-up-of-telephone-booth-257736.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#referenzen {
    margin: 10vh auto 2vh auto;
    height: 85vh;
    width: 100%;
    padding-top: 13vh;
}

@media screen and (max-height:750px){
    #referenzen {

        padding-top: 20vh;
    }
}

.section-b .explanation{
    color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width:1700px){
    .section-b .explanation h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1200px){
    .section-b .explanation h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width:900px){
    .section-b .explanation h3 {
        font-size: 2.4rem;
    }
}


.section-b .explanation:hover {
    height: 100%;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(196, 196, 196);
}

.section-c .gallery {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.section-c .gallery img, .section-c .gallery a {
    width: 100%;
    height: 100%;
}

.section-c .gallery a:first-child {
    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(6) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.section-c .gallery a:nth-child(4) {
    grid-row: 2/3;
    grid-column: 4/5;
}
.section-c .gallery a:nth-child(5) {
    grid-row: 2/3;
    grid-column: 3/4;
}

.section-c .gallery a:nth-child(2) {
    grid-row: 1/3;
    grid-column: 5/7;
}

.reference-text h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
}

@media screen and (max-width:1200px){
    .section-c .gallery {
        padding-top: 1.8rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .section-c .gallery a:first-child {
        grid-row: 2/4;
        grid-column: 1/3;
    }
    
    .section-c .gallery a:nth-child(6) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .section-c .gallery a:nth-child(4) {
        grid-row: 3/4;
        grid-column: 4/5;
    }
    .section-c .gallery a:nth-child(5) {
        grid-row: 3/4;
        grid-column: 3/4;
    }
    
    .section-c .gallery a:nth-child(2) {
        grid-row: 1/3;
        grid-column: 3/5;
    }
    .reference-text h2 {
        font-size: 1.3rem;
        padding-top: 0.8rem;
    }
}

@media screen and (max-width:900px){
    .section-c .gallery {
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-c .gallery a:first-child {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .section-c .gallery a:nth-child(6) {
        display: none;
    }
    
    .section-c .gallery a:nth-child(4) {
        display:none
    }
    .section-c .gallery a:nth-child(5) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .section-c .gallery a:nth-child(2) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .reference-text h2 {
        font-size: 1rem;
        padding-top: 0.8rem;
    }
}

@media screen and (max-width:500px){
    .section-c .gallery {
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-c .gallery a:first-child {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .section-c .gallery a:nth-child(6) {
        display: none;
    }
    
    .section-c .gallery a:nth-child(4) {
        display:none
    }
    .section-c .gallery a:nth-child(5) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .section-c .gallery a:nth-child(2) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .reference-text h2 {
        font-size: 1rem;
        padding-top: 2.5rem;
    }
    #referenzen {
        margin: 10vh auto 2vh auto;
        height: 175vh;
    }
}
@media screen and (max-height:700px){
    #referenzen {
        margin-top: 30vh;
    }
}


#ueber_uns {
    margin: 10vh auto 2vh auto;
    height: 85vh;
    width: 80%;
    padding-top: 13vh;
}

@media screen and (max-height:750px){
    #ueber_uns {
        padding-top: 30vh;
        margin-top: 100vh;
    }
}

.ueber_uns_title h2 {
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width:1400px){
    .ueber_uns_title h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1100px){
    .ueber_uns_title h2 {
        font-size: 1.3rem;
    }
}

.section-d-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

@media screen and (max-width:1400px){
    .section-d-grid {
        grid-gap: 2rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:1000px){
    .section-d-grid {
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width:1400px){
    .section-d-grid .section-d-text-1 em,
    .section-d-grid .section-d-text-2 em{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1150px){
    .section-d-grid .section-d-text-1 em,
    .section-d-grid .section-d-text-2 em{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px){
    .section-d-grid .section-d-text-1 em,
    .section-d-grid .section-d-text-2 em{
        font-size: 0.8rem;
        line-height: 0px;
    }
}

@media screen and (max-width:700px){
    #ueber_uns {
        height: 90vh;
    }
}

@media screen and (max-width:600px){
    #ueber_uns {
        height: 110vh;
    }
}

@media screen and (max-width:500px){
    #ueber_uns {
        height: 130vh;
    }
}

#kontakt {
    margin: 10vh auto 2vh auto;
    width: 80%;
    height: 85vh;
    padding-top: 13vh;
    color: rgb(185, 185, 185)
}

@media screen and (max-width:1400px){
    #kontakt {
        padding-top: 20vh;
    }
}
@media screen and (max-height:750px){
    #kontakt {
        margin-top: 70vh;
    }
}

#kontakt .overlay {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.background-img {
    margin-top: 4%;
    background-image: url(/Website/images/person-in-white-long-sleeve-shirt-holding-black-smartphone-3803221.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.kontakt-inner {
    padding-bottom: 60px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.section-e h2, h3 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 4rem;
}

@media screen and (max-width:1400px){
    .section-e h2, h3 {
        font-size: 2rem;
        padding-top: 3.5rem;
    }
}


@media screen and (max-width:1100px){
    .section-e h2, h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-height:900px){
    .section-e h2, h3 {
        font-size: 1.5rem;
        padding-top: 3.5rem;
    }
}

@media screen and (max-height:750px){
    .section-e h2, h3 {
        font-size: 1rem;
        padding-top: 3rem;
    }
}

.section-e h2 {
    font-size: 3rem;
    padding-top: 0rem;
}

@media screen and (max-width:1400px){
    .section-e h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1100px){
    .section-e h2 {
        font-size: 2rem;
    }
}

@media screen and (max-height:900px){
    .section-e h2 {
        font-size: 2rem;
        padding-top: 3.5rem;
    }
}

@media screen and (max-height:750px){
    .section-e h2 {
        font-size: 1.5rem;
        padding-top: 3rem;
    }
}

.contact-details {
    align-content: center;
    text-align: center;
    justify-content: center;
}

.section-e p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2.5rem;
    width: 80%;
    margin: auto;
}

@media screen and (max-width:1400px){
    .section-e p {
        font-size: 1.2rem;
        padding-top: 2.5rem;
    }
}

@media screen and (max-width:1000px){
    .section-e p {
        font-size: 1rem;
        padding-top: 2.5rem;
    }
}

.footer {
    text-align: center;
    margin: 3vh auto 2vh auto;
    width: 80%;
    background-color: #999;
}

@media screen and (max-height:750px){
    .footer {

        margin-top: 30vh;
    }
}



/* Utilities */

.btn {
    margin-top: 2rem;
    display: inline-block;
    background: #999;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
}

@media screen and (max-width:1200px){
    .btn {
        margin-top: 1rem;
        padding: 0.6rem 1.1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height:750px){
    .btn {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 30px;
        display: inline-block;
    }
}

.btn:hover{
    background: #777;
    color: white;
    
}